<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<style>
  .error{
    font-size: small;
    color: red;
    margin-top: -10px;
  }
</style>

<body>
  <h1>Register</h1>
  
  <form action="" method="post">
    <label for="title">Username</label><br>
    <input type="text" name="name" placeholder="Username">
    <br><br>
    <div class="error">
      <% if(errors.name) {%>
        <%= errors.name.join(',')%>
      <%}%>
    </div>
    <label for="title">Email</label><br>
    <input type="text" name="email" placeholder="Email">
    <br><br>
    <label for="title">Password</label><br>
    <input type="password" name="password" placeholder="Password">
    <br><br>
    <label for="title">Address</label><br>
    <input type="text" name="eddress" placeholder="Address">
    <br><br>
    <label for="title">Role</label><br>
    <select name="role" id="">
      <option selected disabled>---Select One---</option>
      <option value="VIP">VIP</option>
      <option value="Reguler">Reguler</option>
    </select>
    <br><br>
    <button type="submit">Submit</button>
  </form>
</body>

</html>